body {
  background-color: #b5d9e6;
  }
  
  h1{
    font-weight:lighter;
    text-align:center;
  }
  
  .box {
  
    background-color: aliceblue;
      margin-top:1.7cm;
      margin-bottom:1cm;
      margin-left:12cm;
      margin-right:12cm;
      padding:0.5cm;
      border-radius: 1cm;
  }
  
  button{
    width: 3cm;
    height:1cm;
    border-radius: 0.3cm;
    background-color: #51b9db;
    font-size: medium;
    font-weight: 500;
    al
  }
  
  button:hover{
    background-color: #327287;
  }
  
  label{
     font-size:medium;
     font-weight:bold
  }
  
  input{
    width: 5cm;
    height:0.6cm;
    border-width: 4px;
    border-color:black;
    border-radius: 0.2cm;
    margin : 6px;
  }
  
  